body{
	padding:0;
	margin:0;
	font-family: 'Lato', sans-serif;
	background-color:#cccccd;

}

.head{
	width:100%;
	position:relative;
	font-size:1.5em;
	margin:20px;
}

.head #brag{
	margin-bottom:10px;
}



.head a{
	opacity:0.5;
	-moz-transition:    opacity 0.4s;
    -o-transition:      opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    transition:         opacity 0.4s;
}

.head a:hover{
	opacity:0.8;
}